services:
  api-pdf-layout:
    container_name: "api-pdf-layout"
    entrypoint: [ "gunicorn", "-k", "uvicorn.workers.UvicornWorker", "--chdir", "./src", "drivers.rest.app:app", "--bind", "0.0.0.0:5051", "--timeout", "300" ]
    init: true
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - data:/app/data
    environment:
      - ENVIRONMENT=${ENVIRONMENT:-development}
      - SENTRY_DSN=${SENTRY_DSN:-}
      - PYTHONUNBUFFERED=1
    network_mode: host
    depends_on:
      - mongo-pdf-layout

  queue-processor-pdf-layout-gpu:
    container_name: "queue-processor-pdf-layout-gpu"
    entrypoint: [ "python", "-m", "src.drivers.queues_processor.start_queue_processor" ]
    init: true
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - data:/app/data
    environment:
      - ENVIRONMENT=${ENVIRONMENT:-development}
      - SENTRY_DSN=${SENTRY_DSN:-}
      - PYTHONUNBUFFERED=1
      - USE_FAST=false
    network_mode: host
    depends_on:
      - mongo-pdf-layout

  worker-pdf-layout-gpu:
    container_name: "worker-pdf-layout-gpu"
    entrypoint: [ "gunicorn", "-k", "uvicorn.workers.UvicornWorker", "--chdir", "./src", "app:app", "--bind", "0.0.0.0:5060", "--timeout", "10000"]
    image: ghcr.io/huridocs/pdf-document-layout-analysis:0.0.26
    init: true
    restart: unless-stopped
    network_mode: host
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    volumes:
      - data:/app/xmls

  mongo-pdf-layout:
    container_name: "mongo-pdf-layout"
    restart: unless-stopped
    command: mongod --port 25017
    image: "mongo:7.0.12"
    network_mode: host

volumes:
  data: