git+https://github.com/huridocs/pdf-document-layout-analysis@7cde0c113a5a312decd8a95fd759b48399ef4fb5
git+https://github.com/huridocs/queue-processor@d30bf31e614694cf65f7117cd28cabf4afedfe55
graypy==2.1.0
PyYAML==6.0.1
pymongo==4.8.0
httpx==0.27.0
sentry-sdk==2.8.0

