fastapi==0.111.1
python-multipart==0.0.20
uvicorn==0.30.3
gunicorn==22.0.0
graypy==2.1.0
PyYAML==6.0.1
psycopg[binary,pool]==3.2.3
sentry-sdk==2.8.0
setuptools==84.0.0
git+https://github.com/huridocs/queue-processor@25ac3ef9f0924e70a385606e5cba6719c1eb1d90
git+https://github.com/huridocs/ml-cloud-connector@2026.9.9.1

