# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install just commander
      run: |
        sudo apt-get update
        sudo apt-get install -y just

    - name: Install uv
      run: curl -LsSf https://astral.sh/uv/install.sh | sh

    - name: Install dependencies
      run: uv pip install --system -r dev-requirements.txt

    - name: Lint with black
      run: black --line-length 125 . --check

    - name: Start service
      run: just start_detached

    - name: Check API ready
      uses: emilioschepis/wait-for-endpoint@v1.0.3
      with:
        url: http://localhost:5051
        method: GET
        expected-status: 200
        timeout: 120000
        interval: 500

    - name: Test with unittest
      run: cd src; python3 -m pytest
